
/***************** Hero Section *****************/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 50px;
  /* background: linear-gradient(135deg, #0c0f18, #1c2230); */
  background-image: url('../img/Picture4.png');
}

.hero_left img {
  width: 500px;
  max-width: 100%;
}

.hero_right {
  max-width: 650px;
  align-items: left;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.intro {
  color: #c0c6d1;
  font-size: 18px;
  margin-bottom: 10px;
}

.name {
  font-size: 40px;
  color: #f7931e;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  color: #b0b7c4;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-self: start;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn.orange {
  background-color: #f7931e;
  color: white;
}

.btn.orange:hover {
  background-color: #e67e22;
}

.btn.light {
  background-color: #a0acc4;
  color: white;
}

.btn.light:hover {
  background-color: #8e9bb5;
}

